PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
numpy==1.24.4
pandas==1.2.4
openpyxl==3.0.7
xlrd==2.0.1
et-xmlfile==2.0.0
pytz==2025.2
python-dateutil==2.9.0.post0
pyinstaller==4.10
pyinstaller-hooks-contrib==2025.8
pefile==2024.8.26
altgraph==0.17.4
pywin32-ctypes==0.2.3
chardet==4.0.0
colorama==0.4.6
importlib-metadata==8.5.0
packaging==25.0
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
zipp==3.20.2
markdown==3.4.1
requests==2.32.3
