altgraph==0.17.4
certifi==2026.2.25
chardet==4.0.0
charset-normalizer==3.4.4
colorama==0.4.6
darkdetect==0.7.1
diskcache==5.6.3
et_xmlfile==2.0.0
idna==3.11
importlib_metadata==8.5.0
Jinja2==3.1.6
Markdown==3.4.1
MarkupSafe==2.1.5
numpy==1.24.4
openpyxl==3.0.7
packaging==25.0
pandas==1.2.4
pefile==2024.8.26
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
xlrd==2.0.1
zipp==3.20.2
